@charset "UTF-8";

@media (max-width: 500px) {
    header {
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        position: static; 
    }

    header h2 {
        font-size: 1.5em;
    }

    nav {
        display: none; 
    }

    main#principal {
        flex-direction: column-reverse;
        padding: 2em;
        gap: 2em;
        height: auto;
    }

    main#foto img {
        width: 15em;
        height: 15em;
        margin-top: 2em;
    }

    #textos {
        width: 100%;
        text-align: center;
        padding: 1em;
    }

    #web-dev {
        font-size: 1.2em;
    }
    
    #texto {
        font-size: 0.9em;
    }

    #icons {
        justify-content: center;
        margin-top: 1em;
    }

    #b-sobre {
        padding: 0;
        margin-top: 1em;
    }
    
    #b-sobre input {
        width: 100%;
    }

    #sobre-mim {
        flex-direction: column;
        gap: 2em;
        padding: 2em;
    }

    #text-sobre {
        width: 100%;
        font-size: 1em;
        padding: 15px;
        text-align: justify;
    }

    #img-sobre img {
        width: 18em;
    }

    #table h1 {
        font-size: 2em;
    }

    #table table {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #table table td {
        border: 5px solid #600606;
        padding: 10px;
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
    }

    footer {
        flex-direction: column;
        gap: 1em;
        height: auto;
        padding: 1em;
    }
    
    footer h2 {
        font-size: 1.2em;
        text-align: center;
    }
    
    footer #outros {
        gap: 1em;
    }
    
    footer #political a {
        margin-left: 0.5em;
    }
    
    footer #footer-icons i {
        margin-left: 1em;
    }
}

/* Estilos para telas entre 501px e 1024px (tablets e laptops) */
@media (min-width: 501px) and (max-width: 1024px) {
    header {
        gap: 5em;
    }

    header h2 {
        font-size: 2em;
    }
    
    nav {
        display: block; /* Garante que a navegação apareça */
    }

    nav ul {
        padding: 1em;
    }
    
    nav ul li {
        margin: 1em;
    }
    
    nav ul input {
        width: 8em;
    }

    main#principal {
        flex-direction: column-reverse;
        padding: 4em;
        gap: 4em;
        height: auto;
    }

    #textos {
        width: 100%;
        text-align: center;
        padding: 1em;
    }

    #principal h1 {
        font-size: 2.5em;
    }
    
    #web-dev {
        font-size: 1.5em;
    }

    #icons {
        justify-content: center;
    }

    #b-sobre {
        text-align: center;
    }
    
    main#foto img {
        width: 20em;
        height: 20em;
    }

    #sobre-mim {
        flex-direction: column;
        gap: 3em;
    }

    #text-sobre {
        width: 80%;
        font-size: 1.1em;
        text-align: justify;
    }

    #img-sobre img {
        width: 20em;
    }

    #table table td {
        border-width: 15px;
    }

    footer {
        gap: 5em;
        height: auto;
        padding: 2em;
    }
    
    footer h2 {
        font-size: 1.5em;
    }
}