@charset "UTF-8";

@media (min-width: 500px) and (max-width: 768px){
    header{
        height: 5em;
    }
    nav{
        display: none;
    }
    main#principal{
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    #textos{
        margin-top: -10em;
    }
    main#foto img{
        display: none;
    }
    #principal p{
        font-size: 1em;
    }
    #principal h1{
        font-size: 2em;
    }
    #icons i{
        font-size: 0.8em;
    }
 
    #sobre-mim{
        flex-direction: column;   

    }
    #sobre-mim h1{
        font-size: 2em;
    }
    #text-sobre{
        height: 40em;
        width: 20em;
        font-size: 1em;
        margin-bottom: -10em;
    }
    #table table td{
        border: 5px solid #600606;
        padding: 10px;
    }
    footer{
        gap: 2em;
    }
    footer h2{
        font-size: 1.2em;
        margin-left: 10px;
    }
    footer #outros{
        gap: 2em;
    }
    footer #political{
        font-size: .8em;
        width: 50em;
        margin-top: 10px;
    }
    footer #footer-icons i{
        margin-left: 1.2em;
    }
}